In [26]:
import sqlite3
import pandas as pd

db_path = "./eigs.db"
table_name = "Test"

con = sqlite3.connect(db_path)
df = pd.read_sql_query("SELECT * from \"" + table_name + "\"", con)

In [27]:
df.head(100)

,pd-code,crossings,i,j,laplacian-dim,laplacian-nnz,num-zero-eigs,min-eig,max-eig
0,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-1,-3,3,9,0,3.0,6.0
1,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,0,-3,2,4,1,6.0,6.0
2,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-1,-4,3,9,0,3.0,6.0
3,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,0,-4,2,4,1,6.0,6.0
4,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-1,-5,3,9,0,3.0,6.0
5,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,0,-5,1,1,0,3.0,3.0
6,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-1,-6,3,9,0,3.0,6.0
7,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,0,-6,1,1,0,3.0,3.0
8,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-3,3,3,0,3.0,3.0
9,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-4,3,3,0,3.0,3.0
10,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-5,6,18,1,2.0,6.0
11,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-6,6,18,1,2.0,6.0
12,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-3,1,1,0,3.0,3.0
13,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-4,1,1,0,3.0,3.0
14,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-5,3,9,0,2.0,5.0
15,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-6,3,9,0,2.0,5.0
16,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-7,3,9,0,1.0,4.0
17,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-7,3,9,0,1.0,4.0
18,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-3,-8,3,9,0,1.0,4.0
19,"[ [0, 3, 1, 4], [2, 5, 3, 0], [4, 1, 5, 2] ]",3,-2,-8,3,9,0,1.0,4.0

To create a new table in the database, use this SQL query:

CREATE TABLE "New-Table-Name" ("pd-code" text, "i" int, "j" int, "num-zero-eigs" int, "laplacian-dim" int, "laplacian-nnz" int, "min-eig" real, "max-eig" real)

In [25]:
con = sqlite3.connect(db_path)
cur = con.cursor()

query = '''CREATE TABLE "Test" ("pd-code" text, "crossings" int, "i" int, "j" int, "laplacian-dim" int, "laplacian-nnz" int, "num-zero-eigs" int, "min-eig" real, "max-eig" real)'''

cur.execute(query)

con.commit()
con.close()