In [23]:
import sqlite3
import pandas as pd

db_path = "./eigs.db"
table_name = "Rolfsen"

con = sqlite3.connect(db_path)
df = pd.read_sql_query("SELECT * from \"" + table_name + "\"", con)

In [24]:
df.head(30)

,pd-code,crossings,i,j,laplacian-dim,laplacian-nnz,num-zero-eigs,min-eig,max-eig
0,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-1,-3,3,9,0,3.0,6.000000
1,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,0,-3,2,4,1,6.0,6.000000
2,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-1,-4,3,9,0,3.0,6.000000
3,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,0,-4,2,4,1,6.0,6.000000
4,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-1,-5,3,9,0,3.0,6.000000
5,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,0,-5,1,1,0,3.0,3.000000
6,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-1,-6,3,9,0,3.0,6.000000
7,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,0,-6,1,1,0,3.0,3.000000
8,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-3,3,3,0,3.0,3.000000
9,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-4,3,3,0,3.0,3.000000
10,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-5,6,18,1,2.0,6.000000
11,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-6,6,18,1,2.0,6.000000
12,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-3,1,1,0,3.0,3.000000
13,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-4,1,1,0,3.0,3.000000
14,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-5,3,9,0,2.0,5.000000
15,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-6,3,9,0,2.0,5.000000
16,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-7,3,9,0,1.0,4.000000
17,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-7,3,9,0,1.0,4.000000
18,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-3,-8,3,9,0,1.0,4.000000
19,"[ [5, 2, 0, 3], [3, 0, 4, 1], [1, 4, 2, 5] ]",3,-2,-8,3,9,0,1.0,4.000000
20,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,1,3,4,16,0,1.0,5.561553
21,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,2,3,3,9,0,1.0,5.561553
22,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,1,2,4,16,0,1.0,5.561553
23,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,2,2,3,9,0,1.0,5.561553
24,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,1,1,8,30,1,2.0,8.000000
25,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,2,1,3,9,0,2.0,6.732051
26,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,1,0,8,30,1,2.0,8.000000
27,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,2,0,3,9,0,2.0,6.732051
28,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,1,-1,4,6,0,4.0,6.000000
29,"[ [7, 4, 0, 5], [3, 0, 4, 1], [1, 7, 2, 6], [5...",4,2,-1,1,1,0,4.0,4.000000

In [28]:
ten_crossing_df = df[df["max-eig"] == 20]
ten_crossing_df.head(30)

,pd-code,crossings,i,j,laplacian-dim,laplacian-nnz,num-zero-eigs,min-eig,max-eig
8760,"[ [19, 8, 0, 9], [9, 0, 10, 1], [1, 10, 2, 11]...",10,1,-6,20,174,1,2.925973,20.0
9064,"[ [14, 0, 15, 19], [0, 14, 1, 13], [12, 2, 13,...",10,5,6,20,166,1,3.649305,20.0
9666,"[ [8, 19, 9, 0], [0, 9, 1, 10], [10, 1, 11, 2]...",10,3,0,20,162,1,4.061639,20.0
17511,"[ [19, 12, 0, 13], [11, 0, 12, 1], [1, 10, 2, ...",10,-3,-2,20,154,1,4.341089,20.0
26283,"[ [19, 11, 0, 10], [9, 1, 10, 0], [14, 2, 15, ...",10,1,10,20,188,0,1.753789,20.0
30819,"[ [19, 14, 0, 15], [7, 1, 8, 0], [1, 9, 2, 8],...",10,-1,4,20,98,0,4.556031,20.0
30822,"[ [19, 14, 0, 15], [7, 1, 8, 0], [1, 9, 2, 8],...",10,-2,5,1,1,0,20.000000,20.0
30823,"[ [19, 14, 0, 15], [7, 1, 8, 0], [1, 9, 2, 8],...",10,-2,4,1,1,0,20.000000,20.0
31250,"[ [19, 6, 0, 7], [0, 11, 1, 12], [12, 1, 13, 2...",10,0,-9,20,150,0,1.850359,20.0
31507,"[ [6, 19, 7, 0], [0, 13, 1, 14], [1, 8, 2, 9],...",10,4,1,1,1,0,20.000000,20.0
31509,"[ [6, 19, 7, 0], [0, 13, 1, 14], [1, 8, 2, 9],...",10,4,0,1,1,0,20.000000,20.0

In [27]:
ten_crossing_df.groupby(["pd-code"]).max().head(20)

,crossings,i,j,laplacian-dim,laplacian-nnz,num-zero-eigs,min-eig,max-eig
pd-code,,,,,,,,
"[ [10, 0, 11, 19], [0, 10, 1, 9], [12, 1, 13, 2], [2, 13, 3, 14], [14, 3, 15, 4], [4, 15, 5, 16], [18, 5, 19, 6], [6, 17, 7, 18], [16, 7, 17, 8], [8, 11, 9, 12] ]",10,2,-1,1416,18266,4,10.0,20.0
"[ [10, 0, 11, 19], [0, 10, 1, 9], [14, 2, 15, 1], [2, 14, 3, 13], [6, 4, 7, 3], [4, 18, 5, 17], [18, 6, 19, 5], [12, 8, 13, 7], [8, 16, 9, 15], [16, 12, 17, 11] ]",10,10,23,854,12372,8,10.0,20.0
"[ [10, 0, 11, 19], [0, 10, 1, 9], [14, 2, 15, 1], [2, 14, 3, 13], [6, 4, 7, 3], [4, 18, 5, 17], [18, 6, 19, 5], [16, 7, 17, 8], [8, 11, 9, 12], [12, 15, 13, 16] ]",10,7,16,714,10808,8,10.0,20.0
"[ [10, 0, 11, 19], [0, 10, 1, 9], [8, 2, 9, 1], [2, 15, 3, 16], [16, 3, 17, 4], [4, 12, 5, 11], [12, 6, 13, 5], [6, 17, 7, 18], [14, 7, 15, 8], [18, 14, 19, 13] ]",10,6,11,968,13932,7,10.0,20.0
"[ [10, 0, 11, 19], [0, 12, 1, 11], [12, 2, 13, 1], [2, 14, 3, 13], [14, 4, 15, 3], [4, 10, 5, 9], [18, 5, 19, 6], [6, 15, 7, 16], [16, 7, 17, 8], [8, 17, 9, 18] ]",10,6,13,1682,19864,4,10.0,20.0
"[ [10, 0, 11, 19], [0, 12, 1, 11], [12, 2, 13, 1], [2, 8, 3, 7], [8, 4, 9, 3], [4, 10, 5, 9], [16, 5, 17, 6], [6, 15, 7, 16], [18, 14, 19, 13], [14, 18, 15, 17] ]",10,8,19,1048,15772,5,10.0,20.0
"[ [10, 0, 11, 19], [0, 15, 1, 16], [14, 1, 15, 2], [2, 10, 3, 9], [6, 4, 7, 3], [4, 18, 5, 17], [18, 6, 19, 5], [12, 8, 13, 7], [8, 14, 9, 13], [16, 12, 17, 11] ]",10,8,19,766,11886,8,10.0,20.0
"[ [10, 19, 11, 0], [0, 11, 1, 12], [12, 1, 13, 2], [2, 13, 3, 14], [18, 3, 19, 4], [4, 10, 5, 9], [14, 6, 15, 5], [6, 16, 7, 15], [16, 8, 17, 7], [8, 18, 9, 17] ]",10,5,10,1554,18128,4,10.0,20.0
"[ [10, 19, 11, 0], [0, 11, 1, 12], [6, 2, 7, 1], [2, 16, 3, 15], [16, 4, 17, 3], [4, 18, 5, 17], [18, 6, 19, 5], [14, 7, 15, 8], [8, 13, 9, 14], [12, 9, 13, 10] ]",10,5,12,1652,18934,4,10.0,20.0
"[ [10, 19, 11, 0], [0, 3, 1, 4], [16, 2, 17, 1], [2, 16, 3, 15], [4, 9, 5, 10], [18, 6, 19, 5], [6, 13, 7, 14], [12, 7, 13, 8], [8, 18, 9, 17], [14, 12, 15, 11] ]",10,5,10,640,9770,9,10.0,20.0
"[ [10, 19, 11, 0], [0, 9, 1, 10], [1, 14, 2, 15], [15, 2, 16, 3], [3, 16, 4, 17], [17, 4, 18, 5], [5, 18, 6, 19], [6, 12, 7, 11], [12, 8, 13, 7], [8, 14, 9, 13] ]",10,3,4,2329,23805,2,15.0,20.0
"[ [10, 19, 11, 0], [0, 9, 1, 10], [14, 2, 15, 1], [2, 16, 3, 15], [16, 4, 17, 3], [4, 18, 5, 17], [18, 6, 19, 5], [11, 6, 12, 7], [7, 12, 8, 13], [13, 8, 14, 9] ]",10,5,12,2490,24840,2,13.0,20.0
"[ [10, 19, 11, 0], [0, 9, 1, 10], [14, 2, 15, 1], [2, 16, 3, 15], [16, 4, 17, 3], [4, 18, 5, 17], [18, 6, 19, 5], [6, 12, 7, 11], [12, 8, 13, 7], [8, 14, 9, 13] ]",10,8,21,2400,23798,3,10.0,20.0
"[ [10, 19, 11, 0], [0, 9, 1, 10], [8, 1, 9, 2], [2, 16, 3, 15], [16, 4, 17, 3], [4, 11, 5, 12], [18, 5, 19, 6], [6, 14, 7, 13], [14, 8, 15, 7], [12, 18, 13, 17] ]",10,5,12,1358,16016,6,10.0,20.0
"[ [12, 0, 13, 19], [0, 12, 1, 11], [10, 2, 11, 1], [2, 10, 3, 9], [3, 17, 4, 16], [17, 5, 18, 4], [5, 19, 6, 18], [13, 7, 14, 6], [7, 15, 8, 14], [15, 9, 16, 8] ]",10,10,25,2472,25674,2,14.0,20.0
"[ [12, 0, 13, 19], [0, 12, 1, 11], [10, 2, 11, 1], [2, 10, 3, 9], [8, 4, 9, 3], [4, 14, 5, 13], [18, 6, 19, 5], [6, 15, 7, 16], [16, 7, 17, 8], [14, 17, 15, 18] ]",10,7,14,1470,17184,4,10.0,20.0
"[ [12, 0, 13, 19], [0, 12, 1, 11], [16, 1, 17, 2], [2, 15, 3, 16], [14, 3, 15, 4], [4, 9, 5, 10], [8, 5, 9, 6], [6, 17, 7, 18], [18, 7, 19, 8], [10, 13, 11, 14] ]",10,2,1,1040,14984,5,10.0,20.0
"[ [12, 0, 13, 19], [0, 14, 1, 13], [1, 6, 2, 7], [17, 3, 18, 2], [3, 9, 4, 8], [15, 4, 16, 5], [5, 10, 6, 11], [7, 18, 8, 19], [9, 17, 10, 16], [14, 12, 15, 11] ]",10,6,13,780,10956,2,11.0,20.0
"[ [12, 0, 13, 19], [0, 14, 1, 13], [1, 6, 2, 7], [17, 3, 18, 2], [3, 9, 4, 8], [4, 16, 5, 15], [10, 6, 11, 5], [7, 18, 8, 19], [9, 17, 10, 16], [14, 12, 15, 11] ]",10,8,17,844,11534,3,15.0,20.0
"[ [12, 0, 13, 19], [0, 14, 1, 13], [1, 6, 2, 7], [17, 3, 18, 2], [8, 3, 9, 4], [4, 16, 5, 15], [10, 6, 11, 5], [7, 18, 8, 19], [16, 9, 17, 10], [14, 12, 15, 11] ]",10,6,11,826,11456,3,15.0,20.0

To create a new table in the database, use this SQL query:

CREATE TABLE "New-Table-Name" ("pd-code" text, "i" int, "j" int, "num-zero-eigs" int, "laplacian-dim" int, "laplacian-nnz" int, "min-eig" real, "max-eig" real)

In [3]:
con = sqlite3.connect(db_path)
cur = con.cursor()

query = '''CREATE TABLE "Rolfsen" ("pd-code" text, "crossings" int, "i" int, "j" int, "laplacian-dim" int, "laplacian-nnz" int, "num-zero-eigs" int, "min-eig" real, "max-eig" real)'''

cur.execute(query)

con.commit()
con.close()